@tailwind base;
@tailwind components;
@tailwind utilities;

  @media (width<680px) {
 
    .phone-current-card {
        margin: 0.5rem;
        width: 60vw;
        height: 24rem;
        
        border-radius: 0.5rem;
        position: relative;
    }
    .phone-empty-card {
        margin: 0.5rem;
        width: 60vw;
        /* width: 15rem; */
        height: 24rem;
 
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .phone-add-days {
        margin: 3rem;

    }
    
  

    .phone-one-card {
     
        margin: 0.5rem;
        
        width: 25vw;
        height: 3rem;
        background-color: rgb(8 145 178);
        border-radius: 0.5rem;
        border-width: 2px;
        border-color: cyan;
        }
    .phone-addDay {
        max-width: 25vw;
        min-width: 20vw;
        margin: 0.5rem;
        padding: 0.5rem;
        border-width: 2px;
        border-color: cyan;
        z-index: 10;
        
    }
}

    .bg-grad {
        background: rgb(0,113,157);
        background: linear-gradient(247deg, rgba(0,113,157,1) 0%, rgba(19,140,134,1) 38%, rgba(23,120,149,1) 72%, rgba(0,70,107,1) 100%);
    }
